## Lab 02 - T-SQL Queries

- Open Azure Data Studio applicaiton
- Open Lab-02.ipynb notebook
- Attach to AdventureWorksLT database
- Follow instructions to perform T-SQL queries

----
A. Query All Columns
1. Add a code cell
2. Write a query that returns all rows from the SalesLT.Product table

----
B. Query Specific Columns
1. Add a code cell
2. Write a query that returns the Product ID, Name, List Price, and Product Category ID columns from Product table

----
C. Query With Join
1. Add a code cell
2. Write a query that returns Product ID, Product Name, Category Name, and List Price from the Product and Category table